*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content:space-between; /* распределяет информацию по контеинеру */
    align-items: center;    
    background-color: blue;
}

footer{
    background-color: aquamarine;
    height: 350px;
}

main{
    background-color: aqua;
    display: block;
    height: 620px;
}

.infaa{
    text-align: center;
    margin: 0 auto; /* Центррирует блок на странице */
    max-width: 800px; /* Максимальная ширина картинки */
}

li{
    font-size: 25px;
}

ul{
    list-style: none;
}

h1, h2 {
    text-align: center;
    margin: 0px;
    padding: 10px 0;
}

p{
    min-width: 200px;
    font-size: 20px;
    text-align: center;
}

a{
    text-decoration: none;
}

img {
    display: block; /* делает картинку блоком */
    margin: 15px auto; /* отступы сверху/снизу и выравнивает по центру */
    padding: 5px 5px; /* оотступы сверху/снизу, справа/лева */
    background-color: white;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.new-link, .link-right{
    font-size: 20px;
    padding: 40px;
    color: black;

}

#articles{
    padding: 25px 40px; /* отступы сверху/снизу, права/лева внутри рамки*/
    width: 300px; /* ширина рамки */
    margin: 30px auto; /* отступы сверху/снизу, права/лева снаружи рамки */
    border-radius: 50px; /* закругление углов рамеки */
    background-color: blueviolet;
}

.inheres{
    font-size: 20px;
    margin-bottom: 12px;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    background-color: yellowgreen;
    color: black;
}